.tong{
	width: 500px;
	height: 220px;
	background-color: #9fdfe8;
	text-align: center;
	margin: 0 auto;
	border: blue 3px solid;
}
.main{
	padding: 10px;
	display: flex;
}
.main label{
	width: 30%;
}
.main input{
	width: 400px;
}
a{
	padding-top: 10px;
}